{% extends("base.twig") %}

{% block content %}

    {% if articles is not empty %}

        {% for article in articles %}

            <h2>
                <a href="{{ constant('ARTICLES_URL_VIEW_ID') }}{{ article.id }}">
                    {{ article.title }}
                </a>
            </h2>
            {% if article.accepted == 0 %}
                <span class="badge badge-warning">Čeká na scválení</span>
            {% elseif article.accepted == 1 %}
                <span class="badge badge-success">Schválen</span>
            {% else %}
                <span class="badge badge-danger">Zamítnut</span>
            {% endif %}

            <p>
                {{ article.full_name }}
            </p>

            <p>
                {{ article.abstract }}
            </p>
            <hr>

        {% endfor %}

    {% else %}
        <p>Žádné články</p>
    {% endif %}

{% endblock content %}