
{% include("header.twig") %}

{% include("nav.twig") %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <!-- <div class="jumbotron"> -->
        <div class="container">
            <h1 class="display-4 mt-4"> {{ title | raw }} </h1>
            {% block content %}


            {% endblock content %}
        </div>
    <!-- </div> -->

</main>

{% include("footer.twig") %}
