{%  include("header.twig") %}
{% import("macros.twig") as m %}

<form class="form-signin text-center" action="{{ constant("LOGIN_URL") }}" method="post">
    {% if register %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Registrace proběhla úspěšně.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
            </button>
        </div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal"> Přihlašte se </h1>
    <label for="inputUsername" class="sr-only"> Uživatelské jméno </label>
    <input name="username" type="text" id="inputEmail" class="form-control"
            {% if username %}
                value="{{ username }}"
            {% else %}
                placeholder="Uživatelské jméno"
            {% endif %}
           required autofocus>
    <label for="inputPassword" class="sr-only"> Heslo </label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Heslo" required>

    {{ m.error_alert(login_error) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit"> Přihlásit </button>
</form>

{% include("footer.twig") %}