{% macro error_alert(text) %}
    {% if text %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ text | nl2br }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
    {% endif %}
{% endmacro %}