<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ constant("INTRO_URL") }}"> Úvod </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Články </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="{{ constant("ARTICLES_URL_VIEW_ALL_PUBLISHED") }}"> Publikované články </a>
                    {% if id_privilege %}
                        {% if id_privilege >= 2 %}
                            <a class="dropdown-item" href="{{ constant("ARTICLES_URL_VIEW_ALL_WAITING") }}"> Články k recenzi </a>
                        {% endif %}
                        {% if id_privilege >= 1 %}
                            <a class="dropdown-item" href="{{ constant("ARTICLES_URL_EDIT_NEW") }}"> Nový článek </a>
                            <a class="dropdown-item" href="{{ constant("ARTICLES_URL_VIEW_MINE") }}"> Moje články </a>
                        {% endif %}
                    {% endif %}
                </div>
            </li>
            {% if id_privilege >= 3 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ constant("USERS_URL") }}"> Uživatelé </a>
                </li>
            {% endif %}
        </ul>


        <ul class="nav navbar-nav navbar-right">
            {% if username %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> {{ username }} </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        <span class="dropdown-header"> {{ full_name }} </span>
                        <a class="dropdown-item" href="{{ constant("LOGOUT_URL") }}"> Odhlásit se </a>
                    </div>
                </li>
            {% else %}

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Nepřihlášen </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="{{ constant("LOGIN_URL") }}" > Přihlásit se </a>
                        <a class="dropdown-item" href="{{ constant("REGISTER_URL") }}"> Registrovat se </a>
                    </div>
                </li>

            {% endif %}
        </ul>


    </div>
</nav>
