{% extends("base.twig") %}
{% import "macros.twig" as m %}

{% block content %}

<form method="post">

    <div class="form-group">
        <label for="inputTitle">Titulek</label>
        {{ m.error_alert(titleError) }}
        <input name="articleTitle" id="inputTitle" class="form-control"
            {%  if articleTitle %}
               value="{{ articleTitle }}"
            {% endif %}
        >
    </div>
    <div class="form-group">
        <label for="inputAbstract">Abstrakt</label>
        {{ m.error_alert(abstractError) }}
        <textarea rows="3" name="articleAbstract" id="inputAbstract" class="form-control">{% if articleAbstract %}{{ articleAbstract }}{% endif %}</textarea>
    </div>
    <div class="form-group">
        <label for="inputText">Text</label>
        {{ m.error_alert(textError) }}
        <textarea rows="10" name="articleText" id="inputText" class="form-control">{% if articleText %}{{ articleText }}{% endif %}</textarea>
    </div>
    <button class="btn btn-primary" type="submit" name="articleSubmit">Zveřejnit</button>
</form>

<hr>
{% endblock content %}
