{%  include("header.twig") %}
{% import("macros.twig") as m %}

<form class="form-signin text-center" method="post">
    <h1 class="h3 mb-3 font-weight-normal"> Registrace </h1>
    <label for="inputUsername" class="sr-only"> Uživatelské jméno </label>
    <input name="username" type="text" id="inputUsername" class="form-control"
            {% if username %}
                value="{{ username }}"
            {% else %}
                placeholder="Uživatelské jméno"
            {% endif %}
           required autofocus>

     {{  m.error_alert(username_error) }}

    <label for="inputFullname" class="sr-only"> Jméno a příjmení </label>
    <input name="fullname" type="text" id="inputFullname" class="form-control"
           {%  if fullname %}
                value = "{{ fullname }}"
           {% else %}
           placeholder="Jméno a příjmení"
           {% endif %}
           required>
    {{  m.error_alert(fullname_error) }}
    <label for="inputEmail" class="sr-only"> E-mail </label>
    <input name="email" type="email" id="inputEmail" class="form-control"
            {%  if email %}
                value = "{{ email }}"
            {% else %}
                placeholder="E-mail"
            {% endif %}
           required>
    {{  m.error_alert(email_error) }}
    <label for="inputPassword" class="sr-only"> Heslo </label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Heslo" required>
    {{  m.error_alert(password_error) }}

    <button class="btn btn-lg btn-primary btn-block" type="submit" name="registerSubmit"> Registrovat </button>
</form>

{% include("footer.twig") %}
