{% extends("base.twig") %}

{% block content %}

    {% if reviewSuccess %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            Recenze uložena.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">
                &times;
            </span>
            </button>
        </div>

    {% endif %}

    <form method="post">
        <div class="form-group row">
            <label for="inputOriginality" class="col col-sm-2">Originalita:</label>
            <select class="form-control col col-sm-1" id="inputOriginality" name="originality">
                {% for i in 1..10 %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group row">
            <label for="inputLanguage" class="col col-sm-2">Jazyková kvalita:</label>
            <select class="form-control col col-sm-1" id="inputLanguage" name="language">
                {% for i in 1..10 %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group row">
            <label for="inputTechnical" class="col col-sm-2">Technická kvalita:</label>
            <select class="form-control col col-sm-1" id="inputTechnical" name="technical">
                {% for i in 1..10 %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group row">
            <label for="inputOverall" class="col col-sm-2">Celkové hodnocení:</label>
            <select class="form-control col col-sm-1" id="inputOverall" name="overall">
                {% for i in 1..10 %}
                    <option>{{ i }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="inputText">Text:</label>
            <textarea rows="3" name="text" id="inputText" class="form-control"></textarea>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" type="submit" name="reviewSubmit">Potvrdit</button>
        </div>
    </form>

{% endblock %}
