{% extends "base.twig" %}

{% block content %}

    {% if users is not empty %}
        <table class="table">

            <thead>
            <tr>
                <th>Login</th>
                <th>Jméno</th>
                <th>E-mail</th>
                <th>Práva</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
                <tr>
                    <th scope="row">{{ user.username }}</th>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <a class="btn {% if user.id_privilege == 1 %}btn-primary{% else %}btn-secondary{% endif %}"
                            href="{{ constant("USERS_URL") }}&action=update&id={{ user.id }}&priv=1">Autor</a>
                        <a class="btn {% if user.id_privilege == 2 %}btn-primary{% else %}btn-secondary{% endif %}"
                           href="{{ constant("USERS_URL") }}&action=update&id={{ user.id }}&priv=2">Recenzent</a>
                        <a class="btn {% if user.id_privilege == 3 %}btn-primary{% else %}btn-secondary{% endif %}"
                           href="{{ constant("USERS_URL") }}&action=update&id={{ user.id }}&priv=3">Admin</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>


        </table>

    {% endif %}

{% endblock %}