{% extends("base.twig") %}

{% block content %}

    {% if article.accepted == 0 %}
        <span class="badge badge-warning">Čeká na scválení</span>
    {% elseif article.accepted == 1 %}
        <span class="badge badge-success">Schválen</span>
    {% else %}
        <span class="badge badge-danger">Zamítnut</span>
    {% endif %}
    <p>
        {{ article.full_name }}
    </p>

    <p>
        {{ article.abstract }}
    </p>
    <p>
        {{ article.text }}
    </p>

    <hr>
    {% if id_privilege >= 3 %}
        <div>
            <a class="btn btn-success" href="{{ constant("ARTICLES_URL_ACCEPT") }}{{ article.id }}" role="button">Schválit</a>
            <a class="btn btn-danger" href="{{ constant("ARTICLES_URL_DENY") }}{{ article.id }}" role="button">Zamítnout</a>
        </div>

    {% endif %}
    <hr>

    <h2>Recenze</h2>
    {% if id_privilege >= 2 %}
        <div>
            <a class="btn btn-primary" href="{{ constant("REVIEW_URL") }}{{ article.id }}" role="button">Moje hodnocení</a>
        </div>

    {% endif %}
    {%  if reviews is not empty %}
        {% for review in reviews %}
            <h4> {{ review.full_name }}</h4>
            <p>
                <span class="badge">Originalita: {{ review.rating_originality }}/10</span>
                <span class="badge">Jazyková kvalita: {{ review.rating_language }}/10</span>
                <span class="badge">Technická kvalita: {{ review.rating_technical }}/10</span>
                <span class="badge badge-primary">Celkové hodnocení: {{ review.rating_overall }}/10</span>
            </p>
            <p>
                {{ review.text }}
            </p>

            <hr>
        {% endfor %}
    {% else %}
        Bez recenzí
    {% endif %}

{% endblock %}
